/*==========================================
 Rules CSS for reset default styles
==========================================*/
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif, helvetica;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #FFF;
  color: #000;
}

body { overflow-x: hidden; }

*, *::after, *::before {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

h1 {
  font-size: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 28px;
  font-size: 1.76rem;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

h6, small {
  font-size: 12px;
  font-size: .75rem;
}

li {
  margin-left: 16px;
  margin-left: 1rem;
  list-style-type: inherit;
  list-style-position: inside;
}

a, abbr,
code, dfn,
em, i,
li, mark,
p, pre,
strong, b {
  font-size: 16px;
  font-size: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 16px 0;
  margin: 1rem 0;

}

article, aside,
details, figcaption,
figure, footer,
header, main,
menu, nav,
section, summary { display: block; }

table { border-collapse: collapse; }

audio, canvas,
img, iframe,
picture, progress,
svg, video {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button, input,
optgroup, option,
select, textarea {
  padding: 4px;
  padding: .25rem;
  font-family: inherit;
  font-size: 16px;
  font-size: 1rem;
  border: thin solid #000;
}

button, input[type="button"],
input[type="submit"], input[type="reset"],
input[type="checkbox"], input[type="radio"],
label, select { cursor: pointer; }

*[disabled] {
  cursor: not-allowed;
  color: #999;
  background-color: #DDD;
}

textarea { resize: vertical; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

.browserupgrade {
  margin: 3.2px 0;
  margin: 0.2rem 0;
  background: #ccc;
  color: #000;
  padding: 3.2px 0;
  padding: 0.2rem 0;
}

/*=========================================
 Rules CSS for System Grid
===========================================*/

.container, .full-container {
  display: block;
  width: 100%;
  margin: auto;
}

.container { max-width: 1200px; }

.col {
  display: block;
  padding: 16px;
  padding: 1rem;
}

.ph1 { width: 8.333333333333333%; }
.ph2 { width: 16.66666666666667%; }
.ph3 { width: 25%; }
.ph4 { width: 33.33333333333333%; }
.ph5 { width: 41.66666666666667%; }
.ph6 { width: 50%; }
.ph7 { width: 58.33333333333333%; }
.ph8 { width: 66.66666666666667%; }
.ph9 { width: 75%; }
.ph10 { width: 83.33333333333333%; }
.ph11 { width: 91.66666666666667%; }
.ph12 { width: 100%; }

/*===================================
 Rules CSS for layouts
====================================*/

/*- Method 1: float: left/right*/
.floatl { float: left; }
.floatr { float: right; }
.clear, .clear::before, .clear::after { clear: both; }
.clear::before, .clear::after {
  content: "";
  display: block;
}

/*Mehod 2: display: inline-block*/
.inline-block { display: inline-block; }

/*Method 3: display: table*/
.table-grid { display: table; }
.table-cell { display: table-cell; }

/*Method 4: display: flex*/
.flex-container {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

.inline-flex-container {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.flex-row-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-column-reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.justify-flex-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-flex-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-space-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.a-items-flex-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.a-items-flex-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.a-items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.a-items-baseline {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.a-items-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.a-content-flex-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.a-content-flex-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.a-content-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.a-content-space-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.a-content-space-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.a-content-space-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.flex-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

.flex-auto {
  -ms-flex: auto;
  -webkit-flex: auto;
  flex: auto;
}

.a-self-flex-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.a-self-flex-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.a-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.a-self-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.a-self-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.a-self-auto {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/*Vertical and Horizontal Aligns*/
.v-baseline { vertical-align: baseline; }
.v-bottom { vertical-align: bottom; }
.v-middle { vertical-align: middle; }
.v-top { vertical-align: top; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }

.line-height-1 { line-height: 1; }
.line-height-2 { line-height: 2; }
.line-height-3 { line-height: 3; }
.line-height-4 { line-height: 4; }


/*Font Sizes*/
.font0 { font-size: 0; }
.font_25 {
  font-size: 4px;
  font-size: .25rem;
}
.font_5 {
  font-size: 8px;
  font-size: .5rem;
}
.font_75 {
  font-size: 12px;
  font-size: .75rem;
}
.font1 {
  font-size: 16px;
  font-size: 1rem;
}
.font1_25 {
  font-size: 20px;
  font-size: 1.25rem;
}
.font1_5 {
  font-size: 24px;
  font-size: 1.5rem;
}
.font1_75 {
  font-size: 28px;
  font-size: 1.75rem;
}
.font2 {
  font-size: 32px;
  font-size: 2rem;
}
.font2_5 {
  font-size: 40px;
  font-size: 2.5rem;
}
.font3 {
  font-size: 48px;
  font-size: 3rem;
}
.font3_5 {
  font-size: 56px;
  font-size: 3.5rem;
}
.font4 {
  font-size: 64px;
  font-size: 4rem;
}
.font4_5 {
  font-size: 72px;
  font-size: 4.5rem;
}
.font5 {
  font-size: 80px;
  font-size: 5rem;
}

/*Margin & Padding*/
.margin-auto { margin: auto; }
.margin0 { margin: 0; }

.padding-auto { padding: auto; }
.padding0 { padding: 0; }

.padding_25 {
  padding: 4px;
  padding: .25rem;
}

.padding_5 {
  padding: 8px;
  padding: .5rem;
}

.padding_75 {
  padding: 12px;
  padding: .75rem;
}

.padding1 {
  padding: 16px;
  padding: 1rem;
}

.padding1_25 {
  padding: 20px;
  padding: 1.25rem;
}

.padding1_5 {
  padding: 24px;
  padding: 1.5rem;
}

.padding1_75 {
  padding: 28px;
  padding: 1.75rem;
}

.padding2 {
  padding: 32px;
  padding: 2rem;
}

.no-list-style { list-style: none; }
.border { border: thin solid #000; }
.no-border { border: none; }
.round {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.no-round {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.inline { display: inline; }
.block { display: block; }
.hidden { display: none !important; }
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible { visibility: hidden; }

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/*1200px  1024px 768px 600px   480px  320px*/
/*75em    64em   48em  37.5em  30em   20em*/

/*480px*/
@media screen and (min-width: 30em) {
  .s1 { width: 8.333333333333333%; }
  .s2 { width: 16.66666666666667%; }
  .s3 { width: 25%; }
  .s4 { width: 33.33333333333333%; }
  .s5 { width: 41.66666666666667%; }
  .s6 { width: 50%; }
  .s7 { width: 58.33333333333333%; }
  .s8 { width: 66.66666666666667%; }
  .s9 { width: 75%; }
  .s10 { width: 83.33333333333333%; }
  .s11 { width: 91.66666666666667%; }
  .s12 { width: 100%; }

  /*- Method 1: float: left/right*/
  .s-floatl { float: left; }
  .s-floatr { float: right; }
  .s-clear, .s-clear::before, .s-clear::after { clear: both; }
  .s-clear::before, .s-clear::after {
    content: "";
    display: block;
  }

  /*Mehod 2: display: inline-block*/
  .s-inline-block { display: inline-block; }

  /*Method 3: display: table*/
  .s-table-grid { display: table; }
  .s-table-cell { display: table-cell; }

  /*Method 4: display: flex*/
  .s-flex-container {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }

  .s-inline-flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
  }

  .s-flex-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .s-flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .s-flex-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .s-flex-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .s-flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .s-flex-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .s-justify-flex-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .s-justify-flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .s-justify-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .s-justify-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .s-justify-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .s-a-items-flex-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .s-a-items-flex-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .s-a-items-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s-a-items-baseline {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .s-a-items-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .s-a-content-flex-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .s-a-content-flex-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .s-a-content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .s-a-content-space-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .s-a-content-space-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .s-a-content-space-stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .s-flex-none {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }

  .s-flex-auto {
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
  }

  .s-a-self-flex-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .s-a-self-flex-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .s-a-self-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .s-a-self-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }

  .s-a-self-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  .s-a-self-auto {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  /*Vertical and Horizontal Aligns*/
  .s-v-baseline { vertical-align: baseline; }
  .s-v-bottom { vertical-align: bottom; }
  .s-v-middle { vertical-align: middle; }
  .s-v-top { vertical-align: top; }

  .s-left { text-align: left; }
  .s-center { text-align: center; }
  .s-right { text-align: right; }
  .s-justify { text-align: justify; }

  .s-line-height-1 { line-height: 1; }
  .s-line-height-2 { line-height: 2; }
  .s-line-height-3 { line-height: 3; }
  .s-line-height-4 { line-height: 4; }

  /*Font Sizes*/
  .s-font0 { font-size: 0; }
  .s-font_25 {
    font-size: 4px;
    font-size: .25rem;
  }
  .s-font_5 {
    font-size: 8px;
    font-size: .5rem;
  }
  .s-font_75 {
    font-size: 12px;
    font-size: .75rem;
  }
  .s-font1 {
    font-size: 16px;
    font-size: 1rem;
  }
  .s-font1_25 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .s-font1_5 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .s-font1_75 {
    font-size: 28px;
    font-size: 1.75rem;
  }
  .s-font2 {
    font-size: 32px;
    font-size: 2rem;
  }
  .s-font2_5 {
    font-size: 40px;
    font-size: 2.5rem;
  }
  .s-font3 {
    font-size: 48px;
    font-size: 3rem;
  }
  .s-font3_5 {
    font-size: 56px;
    font-size: 3.5rem;
  }
  .s-font4 {
    font-size: 64px;
    font-size: 4rem;
  }
  .s-font4_5 {
    font-size: 72px;
    font-size: 4.5rem;
  }
  .s-font5 {
    font-size: 80px;
    font-size: 5rem;
  }

  /*Margin & Padding*/
  .s-margin-auto { margin: auto; }
  .s-margin0 { margin: 0; }

  .s-padding-auto { padding: auto; }
  .s-padding0 { padding: 0; }

  .s-padding_25 {
    padding: 4px;
    padding: .25rem;
  }

  .s-padding_5 {
    padding: 8px;
    padding: .5rem;
  }

  .s-padding_75 {
    padding: 12px;
    padding: .75rem;
  }

  .s-padding1 {
    padding: 16px;
    padding: 1rem;
  }

  .s-padding1_25 {
    padding: 20px;
    padding: 1.25rem;
  }

  .s-padding1_5 {
    padding: 24px;
    padding: 1.5rem;
  }

  .s-padding1_75 {
    padding: 28px;
    padding: 1.75rem;
  }

  .s-padding2 {
    padding: 32px;
    padding: 2rem;
  }

  .s-no-list-style { list-style: none; }
  .s-border { border: thin solid #000; }
  .s-no-border { border: none; }
  .s-round {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  .s-no-round {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .s-inline { display: inline; }
  .s-block { display: block; }
  .s-hidden { display: none !important; }
  .s-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .s-visuallyhidden.focusable:active,
  .s-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .s-invisible { visibility: hidden; }
}
/*768px*/
@media screen and (min-width: 48em) {
  .m1 { width: 8.333333333333333%; }
  .m2 { width: 16.66666666666667%; }
  .m3 { width: 25%; }
  .m4 { width: 33.33333333333333%; }
  .m5 { width: 41.66666666666667%; }
  .m6 { width: 50%; }
  .m7 { width: 58.33333333333333%; }
  .m8 { width: 66.66666666666667%; }
  .m9 { width: 75%; }
  .m10 { width: 83.33333333333333%; }
  .m11 { width: 91.66666666666667%; }
  .m12 { width: 100%; }

  /*- Method 1: float: left/right*/
  .m-floatl { float: left; }
  .m-floatr { float: right; }
  .m-clear, .m-clear::before, .m-clear::after { clear: both; }
  .m-clear::before, .m-clear::after {
    content: "";
    display: block;
  }

  /*Mehod 2: display: inline-block*/
  .m-inline-block { display: inline-block; }

  /*Method 3: display: table*/
  .m-table-grid { display: table; }
  .m-table-cell { display: table-cell; }

  /*Method 4: display: flex*/
  .m-flex-container {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }

  .m-inline-flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
  }

  .m-flex-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .m-flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .m-flex-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .m-flex-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .m-flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .m-flex-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .m-justify-flex-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .m-justify-flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .m-justify-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .m-justify-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .m-justify-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .m-a-items-flex-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .m-a-items-flex-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .m-a-items-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .m-a-items-baseline {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .m-a-items-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .m-a-content-flex-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .m-a-content-flex-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .m-a-content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .m-a-content-space-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .m-a-content-space-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .m-a-content-space-stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .m-flex-none {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }

  .m-flex-auto {
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
  }

  .m-a-self-flex-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .m-a-self-flex-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .m-a-self-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .m-a-self-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }

  .m-a-self-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  .m-a-self-auto {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  /*Vertical and Horizontal Aligns*/
  .m-v-baseline { vertical-align: baseline; }
  .m-v-bottom { vertical-align: bottom; }
  .m-v-middle { vertical-align: middle; }
  .m-v-top { vertical-align: top; }

  .m-left { text-align: left; }
  .m-center { text-align: center; }
  .m-right { text-align: right; }
  .m-justify { text-align: justify; }

  .m-line-height-1 { line-height: 1; }
  .m-line-height-2 { line-height: 2; }
  .m-line-height-3 { line-height: 3; }
  .m-line-height-4 { line-height: 4; }

  /*Font Sizes*/
  .m-font0 { font-size: 0; }
  .m-font_25 {
    font-size: 4px;
    font-size: .25rem;
  }
  .m-font_5 {
    font-size: 8px;
    font-size: .5rem;
  }
  .m-font_75 {
    font-size: 12px;
    font-size: .75rem;
  }
  .m-font1 {
    font-size: 16px;
    font-size: 1rem;
  }
  .m-font1_25 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .m-font1_5 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .m-font1_75 {
    font-size: 28px;
    font-size: 1.75rem;
  }
  .m-font2 {
    font-size: 32px;
    font-size: 2rem;
  }
  .m-font2_5 {
    font-size: 40px;
    font-size: 2.5rem;
  }
  .m-font3 {
    font-size: 48px;
    font-size: 3rem;
  }
  .m-font3_5 {
    font-size: 56px;
    font-size: 3.5rem;
  }
  .m-font4 {
    font-size: 64px;
    font-size: 4rem;
  }
  .m-font4_5 {
    font-size: 72px;
    font-size: 4.5rem;
  }
  .m-font5 {
    font-size: 80px;
    font-size: 5rem;
  }

  /*Margin & Padding*/
  .m-margin-auto { margin: auto; }
  .m-margin0 { margin: 0; }

  .m-padding-auto { padding: auto; }
  .m-padding0 { padding: 0; }

  .m-padding_25 {
    padding: 4px;
    padding: .25rem;
  }

  .m-padding_5 {
    padding: 8px;
    padding: .5rem;
  }

  .m-padding_75 {
    padding: 12px;
    padding: .75rem;
  }

  .m-padding1 {
    padding: 16px;
    padding: 1rem;
  }

  .m-padding1_25 {
    padding: 20px;
    padding: 1.25rem;
  }

  .m-padding1_5 {
    padding: 24px;
    padding: 1.5rem;
  }

  .m-padding1_75 {
    padding: 28px;
    padding: 1.75rem;
  }

  .m-padding2 {
    padding: 32px;
    padding: 2rem;
  }

  .m-no-list-style { list-style: none; }
  .m-border { border: thin solid #000; }
  .m-no-border { border: none; }
  .m-round {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  .m-no-round {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .m-inline { display: inline; }
  .m-block { display: block; }
  .m-hidden { display: none !important; }

  .m-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .m-visuallyhidden.focusable:active,
  .m-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .m-invisible { visibility: hidden; }
}
/*1024px*/
@media screen and (min-width: 64em) {
  .l1 { width: 8.333333333333333%; }
  .l2 { width: 16.66666666666667%; }
  .l3 { width: 25%; }
  .l4 { width: 33.33333333333333%; }
  .l5 { width: 41.66666666666667%; }
  .l6 { width: 50%; }
  .l7 { width: 58.33333333333333%; }
  .l8 { width: 66.66666666666667%; }
  .l9 { width: 75%; }
  .l10 { width: 83.33333333333333%; }
  .l11 { width: 91.66666666666667%; }
  .l12 { width: 100%; }

  /*- Method 1: float: left/right*/
  .l-floatl { float: left; }
  .l-floatr { float: right; }
  .l-clear, .l-clear::before, .l-clear::after { clear: both; }
  .l-clear::before, .l-clear::after {
    content: "";
    display: block;
  }

  /*Mehod 2: display: inline-block*/
  .l-inline-block { display: inline-block; }

  /*Method 3: display: table*/
  .l-table-grid { display: table; }
  .l-table-cell { display: table-cell; }

  /*Method 4: display: flex*/
  .l-flex-container {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }

  .l-inline-flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
  }

  .l-flex-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .l-flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .l-flex-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .l-flex-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .l-flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .l-flex-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .l-justify-flex-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .l-justify-flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .l-justify-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .l-justify-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .l-justify-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .l-a-items-flex-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .l-a-items-flex-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .l-a-items-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .l-a-items-baseline {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .l-a-items-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .l-a-content-flex-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .l-a-content-flex-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .l-a-content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .l-a-content-space-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .l-a-content-space-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .l-a-content-space-stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .l-flex-none {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }

  .l-flex-auto {
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
  }

  .l-a-self-flex-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .l-a-self-flex-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .l-a-self-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .l-a-self-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }

  .l-a-self-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  .l-a-self-auto {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  /*Vertical and Horizontal Aligns*/
  .l-v-baseline { vertical-align: baseline; }
  .l-v-bottom { vertical-align: bottom; }
  .l-v-middle { vertical-align: middle; }
  .l-v-top { vertical-align: top; }

  .l-left { text-align: left; }
  .l-center { text-align: center; }
  .l-right { text-align: right; }
  .l-justify { text-align: justify; }

  .l-line-height-1 { line-height: 1; }
  .l-line-height-2 { line-height: 2; }
  .l-line-height-3 { line-height: 3; }
  .l-line-height-4 { line-height: 4; }

  /*Font Sizes*/
  .l-font0 { font-size: 0; }
  .l-font_25 {
    font-size: 4px;
    font-size: .25rem;
  }
  .l-font_5 {
    font-size: 8px;
    font-size: .5rem;
  }
  .l-font_75 {
    font-size: 12px;
    font-size: .75rem;
  }
  .l-font1 {
    font-size: 16px;
    font-size: 1rem;
  }
  .l-font1_25 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .l-font1_5 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .l-font1_75 {
    font-size: 28px;
    font-size: 1.75rem;
  }
  .l-font2 {
    font-size: 32px;
    font-size: 2rem;
  }
  .l-font2_5 {
    font-size: 40px;
    font-size: 2.5rem;
  }
  .l-font3 {
    font-size: 48px;
    font-size: 3rem;
  }
  .l-font3_5 {
    font-size: 56px;
    font-size: 3.5rem;
  }
  .l-font4 {
    font-size: 64px;
    font-size: 4rem;
  }
  .l-font4_5 {
    font-size: 72px;
    font-size: 4.5rem;
  }
  .l-font5 {
    font-size: 80px;
    font-size: 5rem;
  }

  /*Margin & Padding*/
  .l-margin-auto { margin: auto; }
  .l-margin0 { margin: 0; }

  .l-padding-auto { padding: auto; }
  .l-padding0 { padding: 0; }

  .l-padding_25 {
    padding: 4px;
    padding: .25rem;
  }

  .l-padding_5 {
    padding: 8px;
    padding: .5rem;
  }

  .l-padding_75 {
    padding: 12px;
    padding: .75rem;
  }

  .l-padding1 {
    padding: 16px;
    padding: 1rem;
  }

  .l-padding1_25 {
    padding: 20px;
    padding: 1.25rem;
  }

  .l-padding1_5 {
    padding: 24px;
    padding: 1.5rem;
  }

  .l-padding1_75 {
    padding: 28px;
    padding: 1.75rem;
  }

  .l-padding2 {
    padding: 32px;
    padding: 2rem;
  }

  .l-no-list-style { list-style: none; }
  .l-border { border: thin solid #000; }
  .l-no-border { border: none; }
  .l-round {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  .l-no-round {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .l-inline { display: inline; }
  .l-block { display: block; }
  .l-hidden { display: none !important; }

  .m-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .m-visuallyhidden.focusable:active,
  .m-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .m-invisible { visibility: hidden; }
}